.agent_xi {
    min-height: 342px;
    padding: 55px 0 75px 0;
    background: url(../img/5agent_xi/bg.png) center center/ cover no-repeat;
}



.circle{
    width: 102px;
    height: 102px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    &__agent_xi{
        margin: 0 auto;
        margin-bottom: 20px;
        border: 1px solid #fff;
    }   
}

.title {
    &__agent_xi{
        margin-bottom: 20px;

        font-weight: 700;
        font-size: 26px;
        line-height: 23px;

        text-align: center;
        color: #FFFFFF;
    }
}

.subtitle {
    &__agent_xi{
        margin: 0 auto; 
        width: 90%;

        font-weight: 300;
        font-size: 19px;
        line-height: 27px;

        text-align: center;
        color: #FFFFFF;
    }
}
